/* body styling */
body {
    background-image: url(../ResponsivePortfolio2/assets/double-bubble-outline.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: auto;
}
/* heading text */
header, .header {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

/* all other text */
p, a {
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* navbar-brand custom bg color */
.brand-custom {
    background-color: #4aaaa5;
    padding: 20px 25px;
    font-size: 2em;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff;
}

/* card hr size */
hr {
    border-top: 3px solid rgb(0, 0, 0, .1);
}

/* Footer styles */
.page-footer {
    height: 100px;
    background-color: #666666; 
}

.text-custom {
    display: flex;
    justify-content: center;
    line-height: 1.3em;
    padding-top: 28px;
}

.border-top-custom {
    border-top: 12px solid #4aaaa5;
    margin-top: auto;
}

/* Media Queries */
Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }
    

Medium devices (tablets, 768px and up)
@media (min-width: 768px) {   }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {    }